.open-add-handler {
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.add-conversation {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.friend-username {
    margin: 0;
}