.chat-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 5%;
    padding-left: 1rem;
}

.chat-body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.message {
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid black;
}

.own {
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
}

.message-text {
    margin: 0;
}

.chat-sender {
    display: flex;
    align-items: center;
    height: 5%;
    padding-right: 1rem;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.send-message-button {
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.no-conversation-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}