.left-side-chat {
    width: 25%;
    height: 100%;
    padding-left: 1%;
}

.left-side-header {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.chat {
    cursor: pointer;
    width: 95%;
}

.chat-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 90%;
}