.contact-main-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-username {
    margin: 0;
}